{% from 'helpers/_forms.html' import generate_fields with context %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %} | CRIS Flask </title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
  </head>
  <body>
	<div>
		{% block body %}{% endblock %}
	</div>
    <script src="{{ url_for('static', filename='js/ext/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/bootstrap-confirmation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/axios.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/vue.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/vuex.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/vue-router.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/store.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>
    <script src="{{ url_for('static', filename='js/events.js') }}"></script>
    <script src="{{ url_for('static', filename='js/help.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loading.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
